<div>
    {{!-- TODO: Add option to add a new blog post --}}
    <h3 class="my-4 text-light">My Dashboard</h3>
{{#if posts.length}}
</div>
<div class="container">
    {{#each posts as |post|}}
        {{!-- Call the posts.handlebars partial to render the posts --}}
        {{> posts post}}
        {{!-- TODO: Add option to update/edit blog posts  --}}
    {{/each}}
</div>
{{else}}
</div>
<div>
    <h5 class="mb-4">You don't have any posts yet! Click the "New Post" button to get started.</h5>
</div>
{{/if}}