<div class="d-flex flex-direction-row justify-content-center mt-4 w-100">
  <div class="container col-md-3 m-5">
    <h2 class="text-light">Login</h2>

    <form class="form login-form">
      <div class="form-group my-2">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group my-2">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group my-2">
        <button class="btn btn-primary w-100" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="container col-md-3 m-5">
    <h2 class="text-light">Sign Up</h2>

    <form class="form signup-form">
      <div class="form-group my-2">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group my-2">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group my-2">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary w-100" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
